@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  overflow-x: hidden;
}
.totalHomeScreen_gen {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  /* overflow-x: hidden; */
}

.homeScreen_containertt {
  background: #121212;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing_logo_text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
}

@media only screen and (max-width: 1400px) {
  .totalHomeScreen_gen {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .totalHomeScreen_gen {
    max-width: 100%;
  }
}
